In [2]:
from autogluon.tabular import TabularDataset, TabularPredictor

In [3]:
save_path = 'Uniplex_20230503_intact_subset10kNEG_notScaled_accuracy/'

In [5]:
df = TabularDataset("humap2_15k_bioplex293T_HCT116_withWMM_reviewedACC_20220625aa.featmat")

In [6]:
df_trim = df.drop(["acc1","acc2"], axis=1)

In [7]:
df_trim.head()

,Ce_1111_poisson,Ce_1111_wcc,Ce_1111_apex,Ce_1111_pq_euc,Ce_6mg_1203_poisson,Ce_6mg_1203_wcc,Ce_6mg_1203_apex,Ce_6mg_1203_pq_euc,Ce_BNF_wan_60_1209_poisson,Ce_BNF_wan_60_1209_wcc,...,neg_ln_pval_bp3_293T_Z4,pair_count_bp3_293T_Z4,neg_ln_pval_bp3_HCT116_Z2,pair_count_bp3_HCT116_Z2,neg_ln_pval_bp3_HCT116_Z4,pair_count_bp3_HCT116_Z4,neg_ln_pval_bp3_293T_HCT116_Z2,pair_count_bp3_293T_HCT116_Z2,neg_ln_pval_bp3_293T_HCT116_Z4,pair_count_bp3_293T_HCT116_Z4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.535341,1.0,NaN,NaN,NaN,NaN,0.498518,1.0,1.412862,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.621166,2.0,NaN,NaN,0.909286,3.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.636575,1.0,4.565785,5.0,NaN,NaN,7.990660,12.0,1.340686,1.0

In [8]:
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(df_trim)
print("Predictions:  \n", y_pred)

Predictions:
 0          1
1         -1
2         -1
3         -1
4         -1
          ..
4999994   -1
4999995   -1
4999996   -1
4999997   -1
4999998   -1
Name: IntAct_train, Length: 4999999, dtype: int64

In [9]:
pred_df_probs = predictor.predict_proba(df_trim)

In [10]:
pred_df_probs.sort_values(1)

               -1         1
4666037  0.999970  0.000030
82684    0.999961  0.000039
4168650  0.999958  0.000042
4520271  0.999955  0.000045
2686729  0.999955  0.000045
...           ...       ...
382868   0.000027  0.999973
321200   0.000026  0.999974
2223615  0.000025  0.999975
3566064  0.000023  0.999977
1607064  0.000022  0.999978

[4999999 rows x 2 columns]

In [11]:
pred_df_probs[1]

0          0.982139
1          0.003521
2          0.003294
3          0.002296
4          0.006896
             ...
4999994    0.005241
4999995    0.007608
4999996    0.013757
4999997    0.031712
4999998    0.005915
Name: 1, Length: 4999999, dtype: float64

In [12]:
df['pred_prob'] = pred_df_probs[1]

In [13]:
df.head()

,acc1,acc2,Ce_1111_poisson,Ce_1111_wcc,Ce_1111_apex,Ce_1111_pq_euc,Ce_6mg_1203_poisson,Ce_6mg_1203_wcc,Ce_6mg_1203_apex,Ce_6mg_1203_pq_euc,...,pair_count_bp3_293T_Z4,neg_ln_pval_bp3_HCT116_Z2,pair_count_bp3_HCT116_Z2,neg_ln_pval_bp3_HCT116_Z4,pair_count_bp3_HCT116_Z4,neg_ln_pval_bp3_293T_HCT116_Z2,pair_count_bp3_293T_HCT116_Z2,neg_ln_pval_bp3_293T_HCT116_Z4,pair_count_bp3_293T_HCT116_Z4,pred_prob
0,P04217,P04217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.982139
1,Q9UBI1,Q92667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003521
2,Q9UBI1,P38432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,0.498518,1.0,1.412862,1.0,0.003294
3,Q9UBI1,Q92804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.621166,2.0,NaN,NaN,0.909286,3.0,NaN,NaN,0.002296
4,Q9UBI1,Q01650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4.565785,5.0,NaN,NaN,7.990660,12.0,1.340686,1.0,0.006896

In [14]:
df.sort_values("pred_prob", ascending=False)[['acc1','acc2','pred_prob']].to_csv("ComplexPortal_model_unlabeledpredictions_aa_20230523.pairsWprob", index=False, header=False, sep='\t')